{% extends 'shared/base.html.twig' %}
{% block body %}
    {# TODO add download link for instructor/admin #}
    {% include('shared/component/flash_messages.html.twig') %}
    <div class="content_head">
        <h2 class="content_title">{{ session.topic }}</h2>
        {#<div class="content_options">#}
            {#<a href="{{ path('session_grades_download', {'id': session.id}) }}">#}
                {#<div class="content_option button green_button">Download</div>#}
            {#</a>#}
        {#</div>#}
    </div>
    {% if attendees is defined %}
        <table class="content_table">
            <tr class="content_table_head">
                <th class="content_table_cell">Name</th>
                <th class="content_table_cell">NetID</th>
                {% if session.graded %}
                    <th class="content_table_cell">Grade</th>
                {% endif %}
            </tr>
            {% if attendees is empty %}
                <tr class="content_table_data">
                    <td class="content_table_cell" colspan="3">No attendees.</td>
                </tr>
            {% else %}
                {% for attendance in attendees %}
                    <tr class="content_table_data">
                        <td class="content_table_cell">{{ attendance.user }}</td>
                        <td class="content_table_cell">{{ attendance.user.username }}</td>

                        {% if session.graded %}
                            <td class="content_table_cell">
                                {% set grade = attendance.grade %}
                                {% if session.numericGrade %}
                                    {{ grade }}
                                {% else %}
                                    {{ grade ? (grade == 1 ? 'Pass' : 'Fail') }}
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    {% elseif timeslots is defined %}
        {% for timeslot in timeslots %}
            <div class="content_head">
                <h3 class="content_title">
                    {{ timeslot.startTime|date('m/d g:i A') }} - {{ timeslot.endTime|date('g:i A') }}
                </h3>
            </div>
            {% set attendances = timeslot.attendances %}
            <table class="content_table">
                <tr class="content_table_head">
                    <th class="content_table_cell">Name</th>
                    <th class="content_table_cell">NetID</th>
                    {% if session.graded %}
                        <th class="content_table_cell">Grade</th>
                    {% endif %}
                </tr>
                {% if attendances is empty %}
                    <tr class="content_table_data">
                        <td class="content_table_cell" colspan="3">No attendees.</td>
                    </tr>
                {% else %}
                    {% for attendance in attendances %}
                        <tr class="content_table_data">
                            <td class="content_table_cell">{{ attendance.user.firstName }} {{ attendance.user.lastName }}</td>
                            <td class="content_table_cell">{{ attendance.user.username }}</td>
                            {% if session.graded %}
                                <td class="content_table_cell">
                                    {% set grade = attendance.grade %}
                                    {% if session.numericGrade %}
                                        {{ grade }}
                                    {% else %}
                                        {{ grade ? (grade == 1 ? 'Pass' : 'Fail') }}
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}