{% extends 'shared/base.html.twig' %}
{% block body %}
    <div class="content_head">
        <h2 class="content_title">Scheduled Sessions</h2>
    </div>
    <table class="content_table">
        <tr class="content_table_head">
            <th class="content_table_cell">Section(s)</th>
            <th class="content_table_cell">Topic</th>
            <th class="content_table_cell">Description</th>
            <th class="content_table_cell">Grades</th>
        </tr>
        {% if sessions is empty %}
            <tr class="content_table_data">
                <td class="content_table_cell" colspan="7">No sessions.</td>
            </tr>
        {% else %}
            {% for session in sessions %}
                <tr class="content_table_data">
                    <td class="content_table_cell">
                        {% for section in session.sections %}
                            {{- section -}}
                            {%- if not loop.last -%}
                                {{- ", " -}}
                            {%- endif -%}
                        {% endfor %}
                    </td>
                    <td class="content_table_cell">{{ session.topic }}</td>
                    <td class="content_table_cell">{{ session.description }}</td>
                    <td class="content_table_cell">
                        <a href="{{ path('session_grades', {'id': session.id}) }}">
                            <div class="button green_button">View</div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <br>
    <div class="content_head">
        <h2 class="content_title">Quizzes</h2>
    </div>
    <table class="content_table">
        <tr class="content_table_head">
            <th class="content_table_cell">Section(s)</th>
            <th class="content_table_cell">Topic</th>
            <th class="content_table_cell">Description</th>
            <th class="content_table_cell">Grades</th>
            <th class="content_table_cell">Check In Time</th>
            <th class="content_table_cell">Check Out Time</th>
            <th class="content_table_cell">Grade</th>
        </tr>
        {% if quizzes is empty %}
            <tr class="content_table_data">
                <td class="content_table_cell" colspan="7">No quizzes.</td>
            </tr>
        {% else %}
            {% for quiz in quizzes %}
                <tr class="content_table_data">
                    <td class="content_table_cell">
                        {% for section in quiz.sections %}
                            {{- section -}}
                            {%- if not loop.last -%}
                                {{- ", " -}}
                            {%- endif -%}
                        {% endfor %}
                    </td>
                    <td class="content_table_cell">{{ quiz.topic }}</td>
                    <td class="content_table_cell">{{ quiz.description }}</td>
                    <td class="content_table_cell">
                        <a href="{{ path('session_grades', {'id': quiz.id}) }}">
                            <div class="button green_button">Edit</div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}