{% extends 'shared/base.html.twig' %}
{% block body %}
    {# TODO add download link for instructor/admin #}
    {% include('shared/component/flash_messages.html.twig') %}
    <h2>
        {{ session.topic }}
        <a class="pull-right btn btn-success" href="{{ path('session_attend', {'id': session.id}) }}">Mark Student as Attended</a>
    </h2>
    {% if attendees is defined %}
        <table id="grades" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>NetID</th>
                {% if session.graded %}
                    <th>Grade</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for attendance in attendees %}
                <tr>
                    <td>{{ attendance.user }}</td>
                    <td>{{ attendance.user.username }}</td>
                    {% if session.graded %}
                        <td>
                            {% if session.numericGrade %}
                                <input value="{{ attendance.grade }}"
                                       onchange="updateGrade(this, '{{ attendance.id }}')"
                                       type="number"
                                       min="0"
                                       max="100">
                            {% else %}
                                <select onchange="updateGrade(this, '{{ attendance.id }}')">
                                    <option {% if attendance.grade is null %}selected{% endif %}></option>
                                    <option value="1" {% if attendance.grade == 1 %}selected{% endif %}>Pass
                                    </option>
                                    <option value="0"
                                            {% if attendance.grade == 0 and attendance.grade is not null %}selected{% endif %}>
                                        Fail
                                    </option>
                                </select>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elseif timeslots is defined %}
        {% for timeslot in timeslots %}
            <h3>
                {{ timeslot.startTime|date('m/d g:i A') }} - {{ timeslot.endTime|date('g:i A') }}
            </h3>
            {% set attendances = timeslot.attendances %}
            <table id="grades-{{ timeslot.id }}" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>NetID</th>
                    {% if session.graded %}
                        <th>Grade</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for attendance in attendances %}
                    <tr>
                        <td>{{ attendance.user.firstName }} {{ attendance.user.lastName }}</td>
                        <td>{{ attendance.user.username }}</td>
                        {% if session.graded %}
                            <td>
                                {% if session.numericGrade %}
                                    <input value="{{ attendance.grade }}"
                                           onchange="updateGrade(this, '{{ attendance.id }}')"
                                           type="number"
                                           min="0"
                                           max="100">
                                {% else %}
                                    <select onchange="updateGrade(this, '{{ attendance.id }}')">
                                        <option {% if attendance.grade is null %}selected{% endif %}></option>
                                        <option value="1" {% if attendance.grade == 1 %}selected{% endif %}>Pass
                                        </option>
                                        <option value="0"
                                                {% if attendance.grade == 0 and attendance.grade is not null %}selected{% endif %}>
                                            Fail
                                        </option>
                                    </select>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('[id^=grades]').DataTable({
                ordering: true,
                searching: true,
                paging: false
            })
        });

        function updateGrade(obj, attendance) {
            {% if session.numericGrade %}
            var grade = obj.value;
            {% else %}
            var grade = obj.options[obj.selectedIndex].value;
            {% endif %}
            $.ajax({
                type: 'POST',
                url: '{{ path('session_grades_edit_ajax') }}',
                data: {'grade': grade, 'attendance': attendance}
            }).done(function (data) {
                //success message
            }).fail(function (data) {
                //error message
            });
        }
    </script>
{% endblock %}