
{% extends 'role/admin/base.html.twig' %}

{% block body %}
<style>

</style>


<link href="{{ asset('build/css/view_summary.css') }}" rel="stylesheet" />
<div class="container">
    <div class="row title">
        <div class="col-md-4">
        <h1>Mentor Management Summary</h1>
        </div>
        <div class="col-md-8 text-right pr-3">

        <div class="search-wrap">
           <div class="search">
              <input type="text" class="searchTerm" placeholder="What are you looking for?">
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
             </button>
           </div>
        </div>
        </div>
    </div>
    <div class="">
      <div class="row">
        <div id="summary">
            <div class="row table-outer">
                <table class="table table-hover" id="summaryTable" width="95%" style="text-align: center;">
                    <thead>
                        <tr>
<!--                         <th colspan="4" class="thead-notes"></th>
 -->                        <th class="col-md-1" rowspan="2" ></th>
                            <th rowspan="2">Name</th>
                            <th rowspan="2">Preferred Name</th>
                            <th class="thead-notes" rowspan="2">Notes</th>
                            <th colspan="5">Points</th>
                        </tr>
                        <tr>
<!--                             <th class="col-md-2">Pending Review</th>
                            <th>Name</th>
                            <th>Preferred Name</th>
                            <th class="thead-notes">Notes</th> -->
                            <th>Att.</th>
                            <th>Beh.</th>
                            <th>Tot.</th>
                            <th>Suggested Action</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for mentor in mentors %}
                        <tr>
                            <td class="align-middle">
                                    <div class="col-md-1"> 
                                    {% if mentor.profile.profilePictureModificationRequest %}
                                        <div class="pending-review pending-profile-picture">
                                            <a href="{{ path('profile', {'username': mentor.username}) }}">
                                                <span class="glyphicon glyphicon-info-sign pending-profile-picture"></span>
                                            </a>
                                        </div>
                                    {% endif %}
                                    </div>
                                    <div class="col-md-11"> 

                                    {% if mentor.profile.profilePicture is not null %}
                                        <img src="{{ path('profile_image', {'username': mentor.username }) }}"
                                             class="rounded float-left" alt="...">
                                    {% else %}
                                        <img src="https://lawyerscommittee.org/wp-content/uploads/2017/04/5a68d99cd467003c04b4ef64004c4313_download-this-image-as-profile-icon-clipart_600-557.png"
                                             class="rounded float-left" alt="...">
                                    {% endif %}
                                    </div>
                                
                            </td>
                            <td>
                                {{ mentor.firstName }} {{ mentor.lastName }}
                            </td>
                            <td>
                                {% if mentor.profile.preferredNameModificationRequest %}
                                    <a href="{{ path('profile', {'username': mentor.username}) }}">
                                        <span class="glyphicon glyphicon-info-sign pending-preferred-name"></span>
                                    </a>
                                {% endif %}
                                <a href="{{ path('profile', {'username': mentor.username}) }}"
                                   target="_blank">{{ mentor.preferredName }}</a>
                            </td>
                            <td class="thead-notes">{{ mentor.profile.adminNotes }}</td>
                            <td>{{ mentor.attendanceOccurrencePoints }}</td>
                            <td>{{ mentor.behaviorOccurrencePoints }}</td>
                            <td>{{ mentor.totalOccurrencePoints }}</td>
                            <td>{{ coursesOfAction[mentor.id] }}
                            </td>
                            <td class="tbody-details">
                                <a href="{{ path('admin_view_occurrence_summary', {'user': mentor.username}) }}">
                                    {% if mentor.id in mentorIdsWithOccurrence %}
                                        <span class="glyphicon glyphicon-info-sign detail-btn pending-occurrences" data-toggle="tooltip" title="See more info"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-info-sign detail-btn" data-toggle="tooltip" title="See more info">
                                        </span>
                                    {% endif %}
                                </a>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
         </div>
      </div>

    </div>
</div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script>
    $(document).ready(function() {

        $(".searchTerm").on( 'keyup change', function () {
            summaryTable.search( this.value ).draw();
        } );

        let summaryTable = $('#summaryTable').DataTable({
            aaSorting: [],
            language: {
                "paginate": {
                    "previous": "<<",
                    "next": ">>"
                }
            },
            dom: 'rtp'
        });

        // $(".summaryName").click(function() {
        //     $('#summaryUserInfoModal').modal('show')
        // });

        // let summaryData = [
        //     ["TODO (This field will be get from backend)",
        //     "Mavis Francia",
        //     "Mavis",
        //     'Admin notes will appear here, e.g. "likes leading sessions," hates leading sessions, etc.',
        //     "0",
        //     "0",
        //     "0",
        //     "",
        //     "TODO (This field will be get from backend)"
        //     ],
        // ];
        //
        // $('#summaryTable').DataTable( {
        //     data: summaryData,
        //     aoColumns: [
        //         { mdata: 'Pending Review' ,
        //           'className': 'align-middle',
        //         'render': function(data, type, row) {
        //             function renderString(){
        //                 // Filter data to DOM
        //                 // ===
        //                 // **TODO**
        //                 // ===
        //             }
        //
        //             return '<div class="col-md-8">'+
        //             '                <div class="pending-review pending-profile-picture">'+
        //             '                    <span class="glyphicon glyphicon-info-sign"></span><p>Profile Picture</p>'+
        //             '                </div>'+
        //             '                <div class="pending-review pending-preferred-name">'+
        //             '                    <span class="glyphicon glyphicon-info-sign"></span><p>Preferred Name</p>'+
        //             '                </div>'+
        //             '                <div class="pending-review pending-occurrences">'+
        //             '                    <span class="glyphicon glyphicon-info-sign"></span><p>Occurrences</p>'+
        //             '                </div>                                '+
        //             '            </div>'+
        //             '            <div class="col-md-4">'+
        //             '                <img src="https://lawyerscommittee.org/wp-content/uploads/2017/04/5a68d99cd467003c04b4ef64004c4313_download-this-image-as-profile-icon-clipart_600-557.png" class="rounded float-left" alt="...">'+
        //             '            </div>';
        //
        //         }},
        //         { mdata: 'Name' },
        //         { mdata: 'Preferred Name' ,
        //             'render': function(data, type, row) {
        //             return  ' <button type="button" class="btn btn-link summaryName">Mavis</button>';
        //         }
        //         },
        //         { mdata: 'Notes' ,
        //             'className': 'thead-notes'},
        //         { mdata: 'Att.' },
        //         { mdata: 'Beh.' },
        //         { mdata: 'Tot.' },
        //         { mdata: 'Course of Action' ,},
        //         { mdata: 'Details' ,
        //             'className': 'tbody-details',
        //             'render': function(data, type, row) {
        //             return  '<span class="glyphicon glyphicon-info-sign detail-btn" data-toggle="tooltip" title="See more info"></span>';
        //         }
        //         }
        //     ],
        //
        //     "ordering": false,
        // } );
        //
        // $(".glyphicon.glyphicon-remove").click(function(){
        //     alert("Cancel Event, Todo.")
        // });
        // $(".glyphicon.glyphicon-ok").click(function(){
        //     alert("Approve Event, Todo.")
        // });
        // $(".btn-approve").click(function(){
        //     alert("Send Approve Event, Todo.")
        // });
        //
        // $('[data-toggle="tooltip"]').tooltip();
        //
        // $("#summaryTable .tbody-details").click(function() {
        //     $('#summaryDetailsModal').modal('show')
        // });

    });
    </script>

{% endblock %}