
{% extends 'role/admin/base.html.twig' %}

{% block body %}
<style>

</style>


<link href="{{ asset('build/css/view_summary.css') }}" rel="stylesheet" />
<div class="container">
    <div class="row title">
        <div class="col-md-4">
        <h1>Mentor Management Specialty</h1>
        </div>
        <div class="col-md-8 text-right pr-1">

        <div class="search-wrap">
           <div class="search">
              <input type="text" class="searchTerm" placeholder="What are you looking for?">
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
             </button>
           </div>
        </div>
        </div>
    </div>
    <div class="">
      <div class="row">
        <div id="summary">
            <div class="row table-outer">
                <table class="table table-hover" id="summaryTable" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Preferred Name</th>
                            {% for subject in subjects %}
                                <th class="subjects" id="{{ subject.id }}">{{ subject.name }}</th>
                            {% endfor %}
                            <th class="col-md-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for mentor in mentors %}
                        <tr id="{{ mentor.id }}">
                            <td class="col-md-2">
                                {{ mentor.firstName }} {{ mentor.lastName }}
                            </td>

                            <td class="col-md-2">
                                <a href="{{ path('profile', {'username': mentor.username}) }}"
                                   target="_blank">{{ mentor.preferredName }}
                                </a>
                            </td>

                            {% for subject in subjects %}
                                {% set break = false %}
                                {% for specialty in mentor.profile.specialties if not break %}
                                    {% if specialty.subject.name == subject.name %}
                                        <td class="col-md-1 {{ subject.id }}" rowspan="1" align="center">
                                            <div class="specialty-level" style="display:inline">
                                                {{ specialty.rating }}
                                            </div>
                                            <div style="display:inline">
                                                <p class="glyphicon glyphicon-plus-sign modify-specialty increase-specialty-level"
                                                data-toggle="tooltip" title="Increase specialty level" style="font-size:small;display:none"></p>
                                                <p class="glyphicon glyphicon-minus-sign modify-specialty decrease-specialty-level"
                                                data-toggle="tooltip" title="Decrease specialty level" style="font-size:small;display:none"></p>
                                            </div>
                                        </td>
                                        {% set break = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if not break %}
                                    <td class="col-md-1 {{ subject.id }}" rowspan="1" align="center">
                                        <div class="specialty-level" style="display:inline">
                                            -
                                        </div>
                                        <div style="display:inline">
                                            <p class="glyphicon glyphicon-plus-sign modify-specialty increase-specialty-level"
                                            data-toggle="tooltip" title="Increase specialty level" style="font-size:small;display:none"></p>
                                            <p class="glyphicon glyphicon-minus-sign modify-specialty decrease-specialty-level"
                                            data-toggle="tooltip" title="Decrease specialty level" style="font-size:small;display:none"></p>
                                        </div>
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <div class="col-md-1 actions" style="display:inline">
                                    <button class="btn btn-success edit-specialty" style="display:inline">Edit</button>
                                    <button class="btn btn-success apply-changes" style="display:none">Apply</button>
                                    <button class="btn btn-default cancel-changes" style="display:none">Cancel</button>
                                    <p class="response-message-short" style="display:none"></p>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
      </div>
    </div>
</div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script>
    $(document).ready(function() {
        var register_actions = function() {
            $('.edit-specialty').on('click', function() {
                $(this).hide();
                $(this).closest('tr').find('.modify-specialty').show();
                $(this).closest('tr').find('.apply-changes').show();
                $(this).closest('tr').find('.cancel-changes').show();
            });

            $('.increase-specialty-level').on('click', function() {
                var specialty = $(this).closest('td').find('.specialty-level');
                var level = specialty.text();
                if ($.isNumeric(level)) {
                    if (level != 5) {
                        level++;
                        specialty.text(level)
                    }
                }
                else {
                    level = 1;
                    specialty.text(level)
                }
            });

            $('.decrease-specialty-level').on('click', function() {
                var specialty = $(this).closest('td').find('.specialty-level');
                var level = specialty.text();
                if ($.isNumeric(level)) {
                    if (level != 1) {
                        level--;
                        specialty.text(level)
                    }
                }
                else {
                    level = 1;
                    specialty.text(level)
                }
            });

            $('.apply-changes').on('click', function() {
                var s = {};
                var subjects = $('.subjects')
                for (i = 0; i < subjects.length; i++) {
                    var k = '.'+subjects[i].id+' .specialty-level';
                    var v = $(this).closest('tr').find(k).text().trim();
                    if ($.isNumeric(v)) {
                        s[subjects[i].textContent] = v;
                    }
                }

                var specialties = JSON.stringify(s);
                var message = $(this).closest('tr').find('.response-message-short');
                var apply = $(this).closest('tr').find('.apply-changes');
                var cancel = $(this).closest('tr').find('.cancel-changes');
                var editBtn = $(this).closest('tr').find('.edit-specialty');
                var modifyBtns = $(this).closest('tr').find('.modify-specialty');
                $.ajax({
                    type: 'POST',
                    url: "{{ path('admin_modify_specialties') }}",
                    data: {
                        'user': $(this).closest('tr').attr('id'),
                        'specialties': specialties
                    },
                    complete: function(response) {
                        message.text(response.responseText).show();
                        message.fadeOut(1500);
                        modifyBtns.hide();
                        apply.hide();
                        cancel.hide();
                        editBtn.show();
                    }
                });
            });

            $('.cancel-changes').on('click', function() {
                $(this).hide();
                $(this).closest('tr').find('.apply-changes').hide();
                $(this).closest('tr').find('.edit-specialty').show();
                $(this).closest('tr').find('.modify-specialty').hide();
            });
        };

        let summaryTable = $('#summaryTable').DataTable({
            aaSorting: [],
            language: {
                "paginate": {
                    "previous": "<<",
                    "next": ">>"
                },

            },
            dom: '<clear>rtp',
            lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
            draw: register_actions()
        });
        
        $(".searchTerm").on( 'keyup change', function () {
            summaryTable.search( this.value ).draw();
        } );
    });
    </script>

{% endblock %}