{% extends 'shared/base.html.twig' %}
{% block body %}
    <div class="content_head">
        <h2 class="content_title">{{ session.topic }}</h2>
    </div>
    <div class="content_list">
        <div class="content_list_label">Description</div>
        <div class="content_list_info">{{ session.description }}</div>
        <div class="content_list_label">Student Instructions</div>
        <div class="content_list_info">{{ session.studentInstructions }}</div>
        <div class="content_list_label">Mentor Instructions</div>
        <div class="content_list_info">{{ session.mentorInstructions }}</div>
        <div class="content_list_label">Graded</div>
        <div class="content_list_info">{{ session.graded ? 'yes' : 'no' }}</div>
        {% if session.graded %}
            <div class="content_list_label">Grading Scheme</div>
            <div class="content_list_info">{{ session.numericGrade ? 'numeric' : 'pass/fail' }}</div>
        {% endif %}
        <div class="content_list_label">Materials</div>
        {% for file in session.files %}
            {% if not loop.first %}
                <div class="content_list_label"></div>
            {% endif %}
            <div class="content_list_info">
                <a href="{{ path('download', {'fid': file.id}) }}">{{ file.name }}</a>
            </div>
        {% else %}
            <div class="content_list_info"></div>
        {% endfor %}
        <div class="content_list_label">Dates</div>
        <div class="content_list_info">
            {{ session.startDate|date('m/d/Y') }} - {{ session.endDate|date('m/d/y') }}
        </div>
    </div>
{% endblock %}