{# This component displays list view for each file, checkbox, file name, delete, rename, download and preview option #}
<div class="table-responsive list-blk">
    <table class="table">
        <colgroup>
            <col>
            <col>
            <col class="col-lg-7">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-2">
        </colgroup>
        <thead class="thead-default">
        <tr>
            <th><input type="checkbox" id="select-all" title="{{ 'select-all'|trans }}"></th>
            <th></th>
            <th>
                {{ CSMCorder(fileManager, 'name') }}
            </th>
            <th class="hidden-xs">
                {{ CSMCorder(fileManager, 'date') }}
            </th>
            <th class="hidden-xs">
                {{ CSMCorder(fileManager, 'size') }}
            </th>
            <th class="text-right">{{ 'table.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for fileEntity in fileArray %}
            {% set file = fileEntity.file %}
            <tr class="{{ fileEntity.isImage() ? 'img' : 'file' }}">
                <td><input type="checkbox" class="checkbox" name="delete[]" value="{{ file.name }}" title="{{ file.name }}"></td>
                <td>{{ fileEntity.preview ? fileEntity.preview.html|raw }}</td>
                <td data-value="{{ file.name }}" {{ fileEntity.attribut|raw }}>
                    {{ (fileEntity.preview.folder is defined ? fileEntity.preview.folder : file.name ~ '.' ~ file.extension)|raw }}
                </td>
                <td class="hidden-xs">
                    <small>{{ fileEntity.date|date('d/m/Y') }}</small>
                </td>
                <td class="hidden-xs">
                    <small>{{ fileEntity.HTMLSize|trans|raw }}</small>
                </td>
                <!-- this doesn't work -->
                {# <td class="hidden-xs">
                    <small>{{ fileEntity.HTMLDimension }}</small>
                </td> #}
                <td class="text-right">
                    <span data-toggle="tooltip" title="{{ 'title.delete'|trans }}">
                        <button type="button"
                                class="btn btn-xs btn-danger js-delete-modal"
                                data-id="{{ file.id }}"
                                data-trigger="click"
                                data-container="body"
                                data-toggle="modal"
                                data-target="#js-confirm-delete"
                                data-placement="left"
                                data-html="true"
                                data-href='{{ path('file_management_delete', fileManager.queryParameters) }}'>
                        <span class="far fa-trash-alt"></span>
                        </button>
                    </span>
                    <span data-toggle="tooltip" title="{{ 'title.rename.file'|trans }}">
                        <button type="button"
                                class="btn btn-xs btn-default js-rename-modal"
                                data-id="{{ file.id }}"
                                data-trigger="click"
                                data-container="body"
                                data-toggle="modal"
                                data-target="#js-confirm-rename"
                                data-placement="left"
                                data-html="true"
                                data-name='{{ file.name}}'
                                data-extension='{{ file.extension }}'
                                data-href='{{ path('file_management_rename', fileManager.queryParameters) }}'>
                        <span class="far fa-edit"></span>
                        </button>
                    </span>
                    {# {% if file.type == "file" %} #}
                        <a data-placement="left" data-id="{{ file.id }}" title="{{ 'title.download'|trans }}" class="btn btn-xs btn-default js-download"
                           href="{{ path('file_management_file', fileManager.queryParameters|merge({'fileName':'file.name'})) }}" download>
                            <span class="fas fa-download"></span>
                        </a>
                        {% if fileEntity.isImage() %}
                            <span data-toggle="tooltip" title="{{ 'title.preview.file'|trans }}">
                                <button type="button"
                                        class="btn btn-xs btn-default js-open-modal"
                                        data-id="{{ file.id }}"
                                        data-trigger="click"
                                        data-container="body"
                                        data-toggle="modal"
                                        data-target="#js-display-image"
                                        data-placement="left"
                                        data-href='{{ fileEntity.preview.path }}'>
                                <span class="fas fa-eye"></span>
                                </button>
                            </span>
                        {% endif %}
                    {# {% endif %} #}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>