<div class="modal fade" id="js-confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'title.delete'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ 'confirm.delete'|trans }}
            </div>
            <div class="modal-footer">
                {{ form_start(formDelete, {"attr" : {'class':'pull-right'}}) }}
                {{ form_widget(formDelete) }}
                {{ form_end(formDelete) }}
                <button type="button" class="btn btn-default pull-left" title="{{ 'button.cancel'|trans }}"
                        data-dismiss="modal"> {{ 'button.cancel'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="js-confirm-rename" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(formRename) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'title.rename.file'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ form_row(formRename.name) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left"
                        data-dismiss="modal">{{ 'button.cancel'|trans }}
                </button>
                {{ form_row(formRename.send) }}
            </div>
            {{ form_end(formRename) }}
        </div>
    </div>
</div>
<div class="modal fade" id="addFolder" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'title.add.folder'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ form_row(form.name) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left"
                        data-dismiss="modal">{{ 'button.cancel'|trans }}
                </button>
                {{ form_row(form.send) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{# add link start#}
<div class="modal fade" id="addLink" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form) }}

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'Add link'|trans }}</h4>
            </div>

            <div class="modal-body">
                {{ form_row(form.name) }}
                <div>
                    <span style="font-size:20px;">Title</span>
                    <input type="text"  required="required" class="form-control"  style="margin:10px;">
                </div> 
                <div>
                    <span style="font-size:20px;">URL</span>
                    <input type="text"  required="required" class="form-control"  style="margin:10px;">
                </div> 

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left"
                        data-dismiss="modal">{{ 'button.cancel'|trans }}
                </button>

                <button type="submit" class="btn btn-primary btn">SAVE</button>

                {{ form_row(form.send) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{# add link end#}
{# share start#}
<div class="modal fade" id="shareFolder" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'Share'|trans }}</h4>
            </div>
            <div class="modal-body">
                {{ form_row(form.name) }}
                <div style="display:inline-block;width:100%;">
                    <span style="font-size:20px;">Search</span>
                    <input type="text"  required="required" class="form-control"  style="margin:10px;width:30%;float:left;">
                    <span class="fa fa-search" style="float:right;margin-top:16px;font-size:20px;"></span>
                </div>
                <div style="display:inline-block">

                <div style="border-color:#b3a7a7;float:left;margin:20px;padding:20px;border-style:solid;">
                    <div style="padding:10px"><input type="checkbox"/>id-# mxm0000001</div>
                    <div style="padding:10px"><input type="checkbox"/>id-# mxm0000002</div>
                    <div style="padding:10px"><input type="checkbox"/>id-# mxm0000004</div>
                    <div style="padding:10px"><input type="checkbox"/>id-# mxm0000005</div>
                    <div style="padding:10px"><input type="checkbox"/>id-# mxm0000006</div>
                    <div style="padding:10px"><input type="checkbox"/>id-# mxm0000001</div>
                    <div style="padding:10px"><input type="checkbox"/>id-# mxm0000002</div>
                    <div style="padding:10px"><input type="checkbox"/>id-# mxm0000004</div>
                    <div style="padding:10px"><input type="checkbox"/>id-# mxm0000005</div>
                    <div style="padding:10px"><input type="checkbox"/>id-# mxm0000006</div>
                </div>
                <div style="border-color:#b3a7a7;float:right;margin:20px;padding:20px;border-style:solid;">
                        <div style="padding:10px"><input type="checkbox"/>Mentor</div>
                        <div style="padding:10px"><input type="checkbox"/>Student</div>
                        <div style="padding:10px"><input type="checkbox"/>Instructor</div>
                    </div>
                    </div>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left"
                        data-dismiss="modal">{{ 'button.cancel'|trans }}
                </button>
                <button type="submit" class="btn btn-primary btn">send</button>
                {{ form_row(form.send) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{# share end#}
<div class="modal fade" id="js-display-image" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <img src="" class="img-responsive" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left"
                        data-dismiss="modal">{{ 'button.cancel'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>

