{% extends 'shared/base.html.twig' %}
{% block fmscontent %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% form_theme formRename 'bootstrap_3_layout.html.twig' %}
<!doctype html>
<html lang="en" id="dropzone">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}File Manager{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
              integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="{{ asset('bundles/artgrisfilemanager/libs/jstree/dist/themes/default/style.min.css') }}">
        <link rel="stylesheet"
              href="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/css/jquery.fileupload.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/artgrisfilemanager/css/manager.css') }}">
        <link rel="stylesheet"
              href="{{ asset('bundles/artgrisfilemanager/libs/jQuery-contextMenu/dist/jquery.contextMenu.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/fms.css') }}">

</head>
<body>
{% block body %}
    <div class="container-fluid ">
        <div class="row top-bar" id="top-bar">
            {% block actions %}
                <a type="button" title="{{ 'button.tree'|trans }}"
                   href="{{ path('file_management', fileManager.queryParameters|merge({'tree': fileManager.tree == true ? 0 : 1 })) }}"
                   class="btn btn-sm btn-default {{ fileManager.tree ? 'active' }}">
                    <span class="fas fa-bars"></span>
                </a>
                {% if fileManager.parent %}
                    <a class="btn btn-default btn-sm"
                       title="{{ 'button.parent'|trans }}"
                       href="{{ fileManager.parent }}">
                        <span class="fas fa-level-up-alt"></span></a>
                {% endif %}
                <button type="button" title="{{ 'button.refresh'|trans }}" class="btn btn-default btn-sm "
                        onClick="window.location.reload()">
                    <span class="fas fa-sync"></span>
                </button>

                <span class="btn btn-success btn-sm fileinput-button btn-action">
                    <span class="far fa-file"></span>
                    <span>{{ 'Upload files'|trans }}</span>
                        <input id="fileupload"
                                type="file"
                                data-url="{{ path('file_management_upload', fileManager.queryParameters) }}"
                                name="files[]"
                                multiple=""
                                accept="{{ fileManager.configuration.accept is defined ? fileManager.configuration.accept : (fileManager.type ? accept(fileManager.type)) }}">
                    </span>
                <button type="button"
                    class="btn btn-primary btn-sm btn-action"
                    data-toggle="modal"
                    data-target="#addFolder">
                    <span class="far fa-folder-open"></span>
                    <span>{{ 'button.add.folder'|trans }}</span>
                </button>
                {# new code add link button start#}
                <button type="button" style="background-color:#c7b909;border-color:#f1f500;background-image:linear-gradient(to bottom,#f5d704 0,#c7b909 100%)" class="btn btn-primary btn-sm btn-action" data-toggle="modal" data-target="#addLink">
                    <span class="fa fa-link"></span>
                    <span>{{ 'Edit link...'|trans }}</span>
                </button>
                {# new add link button end#}
                {# {% if fileManager.parent %} #}
                    <button type="button"
                            class="btn btn-sm btn-danger btn-action js-delete-modal js-delete-folder"
                            data-trigger="click"
                            data-container="body"
                            data-toggle="modal"
                            data-target="#js-confirm-delete"
                            data-placement="left"
                            data-html="true"
                            data-href='{{ path('file_management_delete', fileManager.queryParameters) }}'>
                        <span class="far fa-trash-alt"></span>
                        <span>{{ 'button.delete.current'|trans }}</span>
                    </button>

                    {# rename button #}
                    <button type="button"
                            class="btn btn-sm btn-default btn-action js-rename-modal js-rename-folder"
                            data-trigger="click"
                            data-container="body"
                            data-toggle="modal"
                            data-target="#js-confirm-rename"
                            data-placement="left"
                            data-html="true"
                            data-href='{{ path('file_management_rename', fileManager.queryParameters) }}'>
                        <span class="far fa-edit"></span>
                        <span>{{ 'Rename this folder'|trans }}</span>
                    </button>

                {# {% endif %} #}
                {# Delete selected files #}
                <a id="js-delete-multiple-modal"
                   class="btn btn-sm btn-danger btn-action disabled"
                   type="button"
                   data-trigger="click"
                   data-container="body"
                   data-toggle="modal"
                   data-target="#js-confirm-delete"
                   data-placement="left"
                   data-html="true"
                   data-href='{{ path('file_management_delete', fileManager.queryParameters) }}'>
                    <span class="far fa-check-square"></span>
                    <span>{{ 'Delete selected files'|trans }}</span>
                </a>
                {# new code share button start#}
                <button type="button" style="background-color:#0ae8de;border-color:#0ae8de;background-image:linear-gradient(to bottom,#10ded5 0,#07f5ea 100%)" class="btn btn-primary btn-sm btn-action" data-toggle="modal" data-target="#shareFolder">
                    <span class="fa fa-share"></span>
                    <span>{{ 'Share folder'|trans }}</span>
                </button>
                {# new code share button end#}
            {% endblock %}
            {% block display %}
                <div class="btn-group pull-right">
                    {% if fileManager.view != "list" %}
                        {{ CSMCorder(fileManager, 'name') }}
                        {{ CSMCorder(fileManager, 'date') }}
                        {{ CSMCorder(fileManager, 'size') }}
                        {{ CSMCorder(fileManager, 'dimension') }}
                    {% endif %}
                    <a type="button" href="{{ path('file_management', fileManager.queryParameters|merge({'view':"list"})) }}"
                       class="btn btn-sm btn-default {{ fileManager.view == 'list' ? 'active' }}">
                        <span class="fas fa-th-list"></span>
                    </a>
                </div>
            {% endblock %}
        </div>
        <div class="row fms_main">
            {% if fileManager.tree %}
            <div class="col-xs-12  col-sm-4 col-md-3 col-lg-2">
                {% block tree %}
                    <div class="table-responsive">
                        <div id="tree"></div>
                    </div>
                {% endblock %}
            </div>
            <div class="fms_view col-xs-12 col-sm-8 col-md-9 col-lg-10 no-tree-blk">
                {% else %}
                <div class="col-lg-12">
                    {% endif %}
                    {% block content %}
                        <form id="form-multiple-delete">
                            {% include 'fileManager/views/_manager_view.html.twig' with {'fileManager' :fileManager,  'fileArray' : fileArray, 'formDelete' : formDelete} only %}
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
        {% include 'fileManager/views/_modals.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/artgrisfilemanager/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/artgrisfilemanager/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/artgrisfilemanager/libs/jstree/dist/jstree.min.js') }}"></script>
    <script src="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/artgrisfilemanager/libs/blueimp-file-upload/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/artgrisfilemanager/libs/sticky-kit/jquery.sticky-kit.min.js') }}"></script>
    <script src="{{ asset('bundles/artgrisfilemanager/libs/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('bundles/artgrisfilemanager/libs/jQuery-contextMenu/dist/jquery.contextMenu.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/jquery.lazy-master/jquery.lazy.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/jquery.lazy-master/jquery.lazy.plugins.min.js') }}"></script>
    <script>
        var treedata = {{ treeData|raw }};
        var tree = {{ fileManager.tree ? 'true' : 'false' }}
        var moduleName = '{{ fileManager.module ? fileManager.module : 0 }}';
        var successMessage = '{{ 'file.add.success'|trans }}';
        var url = "{{ path('file_management', fileManager.queryParameters|merge({'json':true}))|e('js') }}"
        var urldelete = "{{ path('file_management_delete', fileManager.queryParameters )|e('js') }}"
        var deleteMessage = "{{ 'title.delete'|trans }}"
        var renameMessage = "{{ 'title.rename.file'|trans }}"
        var downloadMessage = "{{ 'title.download'|trans }}"
        var previewMessage = "{{ 'title.preview.file'|trans }}"
    </script>
    <script>
        // display alert
        function displayAlert(type, msg) {
            $.notify({
                message: msg
            }, {
                type: type,
                placement: {
                    from: "bottom",
                    align: "left"
                },
                template: '<div data-notify="container" class="col-xs-5 col-md-4 col-lg-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
            });
        }

        // display session flash messages
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
            displayAlert('{{ type }}', '{{ message|trans|e('js') }}')
            {% endfor %}
        {% endfor %}
    </script>
    {# <script src="{{ asset('bundles/artgrisfilemanager/js/manager.js') }}"></script> #}
    <script src="{{ asset('build/js/form.js') }}" type="text/javascript"></script>
    <script src="{{ asset('build/js/fms.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>
{% endblock %}
