{# For use with instructors/students #}
{% extends 'shared/base.html.twig' %}
{% block body %}
    {{ include('shared/component/flash_messages.html.twig') }}
    {% for course in courses %}
        <div class="content_head">
            <h2 class="content_title">
                {{ course['section'].course.department.abbreviation }} {{ course['section'].course.number }}
                : {{ course['section'].course.name }}
            </h2>
        </div>
        <div class="content_head">
            <h3 class="content_title">Quizzes</h3>
        </div>
        <table class="content_table">
            <tr class="content_table_head">
                <th class="content_table_cell">Topic</th>
                <th class="content_table_cell">Dates</th>
                <th class="content_table_cell">Room</th>
                <th class="content_table_cell">Description</th>
            </tr>
            {% for quiz in course['quizzes'] %}
                <tr class="content_table_data">
                    <td class="content_table_cell">{{ quiz.topic }}</td>
                    <td class="content_table_cell">{{ quiz.startDate|date('m/d/y') }}
                        - {{ quiz.endDate|date('m/d/y') }}</td>
                    <td class="content_table_cell">{{ quiz.room }}</td>
                    <td class="content_table_cell">{{ quiz.description }}</td>
                </tr>
            {% else %}
                <tr class="content_table_data">
                    <td class="content_table_cell" colspan="4">No upcoming quizzes.</td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <div class="content_head">
            <h2 class="content_title">Sessions</h2>
        </div>
        {% for session in course['sessions'] %}
            <div class="content_head">
                <h3 class="content_title">{{ session.topic }}</h3>
                <div class="content_options">
                    <a href="{{ path('session_view', {'id': session.id}) }}">
                        <div class="button green_button">
                            View Details
                        </div>
                    </a>
                </div>
            </div>
            <div class="content_list">
                <div class="content_list_label">Description</div>
                <div class="content_list_info">{{ session.description }}</div>
                <div class="content_list_label">Time Slots</div>
                {% for timeslot in session.timeslots %}
                    <div class="content_list_info">
                        {{ timeslot.startTime|date('m/d/Y g:i A') }}
                        - {{ timeslot.endTime|date('g:i A') }}
                    </div>
                    {% if not loop.last %}
                        <div class="content_list_label"></div>
                    {% endif %}
                {% else %}
                    <div class="content_list_info">None</div>
                {% endfor %}
            </div>
        {% else %}
            <div class="content_list">
                <div class="content_list_label"></div>
                <div class="content_list_info">No sessions currently scheduled.</div>
            </div>
        {% endfor %}
        <br>
    {% else %}
        <div class="message red_message">You are not currently assigned to any courses. If this is an error please
            contact a CSMC Admin
        </div>
    {% endfor %}
{% endblock %}