{% extends 'shared/base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('build/css/global.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ asset('build/css/mentor_profile.css') }}"/>
{% endblock %}
{% block body %}
<!--
Render example :
<small>{{ user.username }}</small>
-->
<div class="">
  <div class="container">
    <div class="row pt">
      <div class="col-md-9 align-middle  ">
        <!--***Todo: Render your user."property" here***-->
        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
      </div>
      <div class="col-md-3 main-btn">
        <a href="{{ path("profile", {"username" : user.username}) }}"
           class="btn btn-info btn-block btn-edit" aria-label="Left Align">
          <span class="glyphicon glyphicon-user" aria-hidden="true">
          </span> Mentor Profile
        </a>
      </div>
    </div>
    <div class="row">
      <select id="operation">
        <option value="mkdir" selected>mkdir</option>
        <option value="exists">exists</option>
        <option value="copy">copy</option>
        <option value="touch">touch</option>
        <option value="remove">remove</option>
        <option value="rename">rename</option>
        <option value="mirror">mirror</option>
        <option value="makePathRelative">makePathRelative</option>
      </select>
      <input type="text" id="input1">
      <button class="btn btn-primary go">Submit action</button>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script>
    $(function(){
        var username = "{{user.username}}";
        var operation;
        var twoVarOperations = ["copy", "rename", "mirror", "makePathRelative"];
      $('#operation').change(function(){
        $('#input2').remove();
        operation = $(this).val();
        console.log(operation);
        if(twoVarOperations.indexOf(operation) > -1){
          $('#input1').after('<input type="text" id="input2">');
        }
      });

      $('.go').click(function(){
        operation = $('#operation').val();
        var param = JSON.stringify({
          'input1' : $('#input1').val(),
          'input2': $('#input2').val()
        });
        var path = "/profile/"+username+"/"+operation;

        if(operation === "remove"){
          ConfirmDialog('Are you sure?', path, param);
        } else makeAjaxCall(path, param);

        //console.log(path);
        //console.log(param);
      });
    });

function makeAjaxCall(path, param){
  $.ajax({
    type: "POST",
    url: path,
    data: param,
  }).done(function (data, text, xhr) {
    if(operation === "makePathRelative"){
      console.log(data);
    }else if(data === "SUCCESS"){
      location.reload();
    }
  }).always(function (data, text, xhr) {
    console.log(data);
  });
}

function ConfirmDialog(message, path, param) {
  $('<div></div>').appendTo('body')
  .html('<div><h6>'+message+'?</h6></div>')
  .dialog({
    modal: true, title: 'Delete message', zIndex: 10000, autoOpen: true,
    width: 'auto', resizable: false,
    buttons: {
      Yes: function () {
        // $(obj).removeAttr('onclick');
        // $(obj).parents('.Parent').remove();

        $('body').append('<h1>Confirm Dialog Result: <i>Yes</i></h1>');
        $(this).dialog("close");
        makeAjaxCall(path, param);
      },
      No: function () {
        $('body').append('<h1>Confirm Dialog Result: <i>No</i></h1>');
        $(this).dialog("close");
      }
    },
    close: function (event, ui) {
        $(this).remove();
    }
  });
};
  </script>
{% endblock %}
