{% extends "role/admin/base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Create Announcement</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    {# Checking for form errors and displaying them#}
                    {% if not form.vars.valid %}
                        <div class="alert alert-danger" id="errorDiv">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    <br/>

                    {{ form_start(form, {'attr': {'class': 'bt-flabels js-flabels' }}) }}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        <div class="control-label">
                            {{ form_label(form.subject) }}
                        </div>
                        {{ form_errors(form.subject) }}
                        <div class="bt-flabels__wrapper">
                            {{ form_widget(form.subject, {'attr': {'class': 'form-control' }}) }}
                            <span class="bt-flabels__error-desc">Required</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label">
                            {{ form_label(form.message) }}
                        </div>
                        {{ form_errors(form.message) }}
                        <div class="bt-flabels__wrapper">
                            {{ form_widget(form.message, {'attr': {'class': 'form-control' }}) }}
                            <span class="bt-flabels__error-desc">Required</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label">
                            {{ form_label(form.startDate) }}
                        </div>
                        {{ form_errors(form.startDate) }}
                        <div class="bt-flabels__wrapper">
                            {{ form_widget(form.startDate, {'attr': {'class': 'form-control' }}) }}
                            <span class="bt-flabels__error-desc">Required</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label">
                            {{ form_label(form.endDate) }}
                        </div>
                        {{ form_errors(form.endDate) }}
                        <div class="bt-flabels__wrapper">
                            {{ form_widget(form.endDate, {'attr': {'class': 'form-control' }}) }}
                            <span class="bt-flabels__error-desc">Required</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label">
                            {{ form_label(form.roles) }}
                        </div>
                        {{ form_errors(form.roles) }}
                        <div class="bt-flabels__wrapper">
                            {{ form_widget(form.roles, {'attr': {'class': 'form-control' }}) }}
                        </div>
                    </div>

                    {#<div class="form-group">#}
                        {#<div class="control-label">#}
                            {#{{ form_label(form.userGroups) }}#}
                        {#</div>#}
                        {#{{ form_errors(form.userGroups) }}#}
                        {#<div class="bt-flabels__wrapper">#}
                            {#{{ form_widget(form.userGroups, {'attr': {'class': 'form-control' }}) }}#}
                        {#</div>#}
                    {#</div>#}

                    <div class="form-group">
                        <div class="control-label">
                            {{ form_label(form.active) }}
                        </div>
                        {{ form_errors(form.active) }}
                        <div class="bt-flabels__wrapper">
                            {{ form_widget(form.active, {'attr': {'class': 'checkbox' }}) }}
                        </div>
                    </div>

                    {#<div class="form-group">#}
                    {#<div class="control-label col-md-3 col-sm-3 col-xs-12">#}
                    {#{{ form_label(form.message) }}#}
                    {#</div>#}
                    {#{{ form_errors(form.message) }}#}

                    {#<div class="col-md-6 col-sm-6 col-xs-12">#}
                    {#<div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor-one">#}
                    {#<div class="btn-group">#}
                    {#<a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i#}
                    {#class="fas fa-font"></i><b class="caret"></b></a>#}
                    {#<ul class="dropdown-menu">#}
                    {#</ul>#}
                    {#</div>#}
                    {#<div class="btn-group">#}
                    {#<a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i#}
                    {#class="fas fa-text-height"></i>&nbsp;<b class="caret"></b></a>#}
                    {#<ul class="dropdown-menu">#}
                    {#<li>#}
                    {#<a data-edit="fontSize 5">#}
                    {#<p style="font-size:17px">Huge</p>#}
                    {#</a>#}
                    {#</li>#}
                    {#<li>#}
                    {#<a data-edit="fontSize 3">#}
                    {#<p style="font-size:14px">Normal</p>#}
                    {#</a>#}
                    {#</li>#}
                    {#<li>#}
                    {#<a data-edit="fontSize 1">#}
                    {#<p style="font-size:11px">Small</p>#}
                    {#</a>#}
                    {#</li>#}
                    {#</ul>#}
                    {#</div>#}
                    {#<div class="btn-group">#}
                    {#<a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i#}
                    {#class="fas fa-bold"></i></a>#}
                    {#<a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i#}
                    {#class="fas fa-italic"></i></a>#}
                    {#<a class="btn" data-edit="strikethrough" title="Strikethrough"><i#}
                    {#class="fas fa-strikethrough"></i></a>#}
                    {#<a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i#}
                    {#class="fas fa-underline"></i></a>#}
                    {#</div>#}
                    {#<div class="btn-group">#}
                    {#<a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i#}
                    {#class="fas fa-list-ul"></i></a>#}
                    {#<a class="btn" data-edit="insertorderedlist" title="Number list"><i#}
                    {#class="fas fa-list-ol"></i></a>#}
                    {#<a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i#}
                    {#class="fas fa-dedent"></i></a>#}
                    {#<a class="btn" data-edit="indent" title="Indent (Tab)"><i#}
                    {#class="fas fa-indent"></i></a>#}
                    {#</div>#}
                    {#<div class="btn-group">#}
                    {#<a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i#}
                    {#class="fas fa-align-left"></i></a>#}
                    {#<a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i#}
                    {#class="fas fa-align-center"></i></a>#}
                    {#<a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i#}
                    {#class="fas fa-align-right"></i></a>#}
                    {#<a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i#}
                    {#class="fas fa-align-justify"></i></a>#}
                    {#</div>#}
                    {#<div class="btn-group">#}
                    {#<a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i#}
                    {#class="fas fa-link"></i></a>#}
                    {#<div class="dropdown-menu input-append">#}
                    {#<input class="span2" placeholder="URL" type="text" data-edit="createLink"/>#}
                    {#<button class="btn" type="button">Add</button>#}
                    {#</div>#}
                    {#<a class="btn" data-edit="unlink" title="Remove Hyperlink"><i#}
                    {#class="fas fa-cut"></i></a>#}
                    {#</div>#}
                    {#<div class="btn-group">#}
                    {#<a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i#}
                    {#class="fas fa-picture-o"></i></a>#}
                    {#<input type="file" data-role="magic-overlay" data-target="#pictureBtn"#}
                    {#data-edit="insertImage"/>#}
                    {#</div>#}
                    {#<div class="btn-group">#}
                    {#<a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i#}
                    {#class="fas fa-undo"></i></a>#}
                    {#<a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i#}
                    {#class="fas fa-repeat"></i></a>#}
                    {#</div>#}
                    {#</div>#}

                    {# TODO: HOW DO We Pass the JavaScript Value to the Textarea??? #}
                    {#<div id="editor-one" class="editor-wrapper"></div>#}
                    {#{{ form_widget(form.message, {'attr': {'style': 'display:none;', 'class': 'form-control col-md-7 col-xs-12' }}) }}#}
                    {#</div>#}
                    {#</div>#}

                    {#<div class="form-group">#}
                    {#<div class="control-label col-md-3 col-sm-3 col-xs-12">#}
                    {#{{ form_label(form.roles) }}#}
                    {#</div>#}
                    {#{{ form_errors(form.roles) }}#}
                    {#<div class="col-md-6 col-sm-6 col-xs-12">#}
                    {##}
                    {#<option value="" selected disabled hidden>Choose here</option>#}
                    {##}
                    {#{{ form_widget(form.roles, {#}
                    {#'attr': {'class': 'form-control col-md-7 col-xs-12', 'size': '7'}}) }}#}
                    {#</div>#}
                    {#</div>#}

                    {#<div class="form-group">#}
                    {#<div class="control-label col-md-3 col-sm-3 col-xs-12">#}
                    {#{{ form_label(form.userGroups) }}#}
                    {#</div>#}
                    {#{{ form_errors(form.userGroups) }}#}
                    {#<div class="col-md-6 col-sm-6 col-xs-12">#}
                    {#{{ form_widget(form.userGroups, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'size': '7' }}) }}#}
                    {#</div>#}
                    {#</div>#}

                    {#<div class="form-group">#}
                    {#<div class="control-label col-md-3 col-sm-3 col-xs-12">#}
                    {#{{ form_label(form.startDate) }}#}
                    {#</div>#}
                    {#{{ form_errors(form.startDate) }}#}
                    {#<div class="col-md-6 col-sm-6 col-xs-12">#}
                    {#{{ form_widget(form.startDate, {'attr': {'class': 'form-control col-md-7 col-xs-12' }}) }}#}
                    {#</div>#}
                    {#</div>#}

                    {#<div class="form-group">#}
                    {#<div class="control-label col-md-3 col-sm-3 col-xs-12">#}
                    {#{{ form_label(form.endDate) }}#}
                    {#</div>#}
                    {#{{ form_errors(form.endDate) }}#}
                    {#<div class="col-md-6 col-sm-6 col-xs-12">#}
                    {#{{ form_widget(form.endDate, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}#}
                    {#</div>#}
                    {#</div>#}

                    {#<div class="ln_solid"></div>#}

                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a class="btn btn-secondary" type="button"
                               href="{{ path('admin_announcement_list') }}">Cancel
                            </a>
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success' }}) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    </div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {#
            <script>

                $('#editor-one').wysiwyg();
                $(document).ready(function() {
                    $('.btn btn-success').click(function() {

                        document.form.form[message].value = $('#editor-one').html();
                        alert(document.form.form[message].value);



                        var html = $('#editor-one').val();
                        // Put this in the hidden field
                        $("#html").val(html);

                        $.ajax({
                            url: 'update.php',
                            type: 'POST',
                            data: {
                                content: content
                            }
                        });


                    });
                });

            </script>
        #}
    {#
        <script type='text/javascript'>

            $('#editor-one').wysiwyg();

            $('#form_save').click(function(){
                alert($('#editor-one').val());
            });

        </script>
    #}
    <script type='text/javascript'>
        $(function () {
            $('#editor-one').wysiwyg();

            $('#form_save').click(function () {
                document.getElementById("form_message").value = $('#editor-one').html();
            });
        });
    </script>
    {#
            // Another way to do :::
            <script type="text/javascript">

                // Below Function Executes On Form Submit
                function copyMessageOnJS() {

                    $('#editor-one').wysiwyg();

                    // alert('Start');
                    // alert('Sungsoo Ahn');
                    // var jsValue = $('#editor-one').html();
                    // alert(jsValue);

                    document.getElementById("form_message").value = $('#editor-one').html();

                    // alert('By-');

                    return true;   // Returns Value
                }
            </script>
    #}
{% endblock %}
