{% extends "role/admin/base.html.twig" %}
{% block body %}


    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>IP Address
                        <button type="button" class="btn btn-primary" onclick="location.href='./addAddress'"
                                style="float:right">New IP Address
                        </button>
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30"></p>
                    <table id="datatable" class="table table-striped table-bordered">
                        <h4>CSMC</h4>
                        <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                aria-label="Name: activate to sort column descending" style="width: 189px;"
                                aria-sort="ascending">IP Address
                            </th>
                            <th style="width:20%" class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                colspan="1">Room
                            </th>
                            <th style="width:20%" class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                colspan="1">Blocked
                            </th>
                            <th style="width:20%" class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                colspan="1">Edit
                            </th>

                        </thead>


                        <tbody>
                        {% for ip in csmc %}
                            <tr>
                                <td>{{ ip.address }}</td>
                                <td>{% if ip.room == NULL %}
                                        -
                                    {% else %}
                                        {{ ip.room }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ip.blocked == 1 %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-round btn-success"
                                            onclick="location.href='./addressEdit?id={{ ip.id }}'">Edit
                                    </button>
                                </td>


                            </tr>

                        {% endfor %}

                    </table>
                </div>

                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <h4>UTD CS</h4>
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                aria-label="Name: activate to sort column descending" style="width: 189px;"
                                aria-sort="ascending">IP Address
                            </th>
                            <th style="width:20%" class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                colspan="1">Room
                            </th>
                            <th style="width:20%" class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                colspan="1">Blocked
                            </th>
                            <th style="width:20%" class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                colspan="1">Edit
                            </th>

                        </thead>

                        <tbody>
                        {% for ip in utdcs %}
                            <tr>
                                <td>{{ ip.address }}</td>
                                <td>
                                    {% if ip.blocked == true %}
                                        (Ip Blocked)
                                    {% else %}
                                        {{ ip.room }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ip.blocked == 1 %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-round btn-success"
                                            onclick="location.href='./addressEdit?id={{ ip.id }}'">Edit
                                    </button>
                                </td>


                            </tr>

                        {% endfor %}

                    </table>
                </div>

                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <h4>UTD</h4>
                    <table id="datatable1" class="table table-striped table-bordered">
                        <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                aria-label="Name: activate to sort column descending" style="width: 189px;"
                                aria-sort="ascending">IP Address
                            </th>
                            <th style="width:20%" class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                colspan="1">Room
                            </th>
                            <th style="width:20%" class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                colspan="1">Blocked
                            </th>
                            <th style="width:20%" class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                colspan="1">Edit
                            </th>

                        </thead>

                        <tbody>
                        {% for ip in utd %}
                            <tr>
                                <td>{{ ip.address }}</td>
                                <td>
                                    {% if ip.blocked == true %}
                                        (Ip Blocked)
                                    {% else %}
                                        {{ ip.room }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ip.blocked == 1 %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-round btn-success"
                                            onclick="location.href='./addressEdit?id={{ ip.id }}'">Edit
                                    </button>
                                </td>


                            </tr>

                        {% endfor %}

                    </table>
                </div>

                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <h4>Others</h4>
                    <table id="datatable2" class="table table-striped table-bordered">
                        <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                aria-label="Name: activate to sort column descending" style="width: 189px;"
                                aria-sort="ascending">IP Address
                            </th>
                            <th style="width:20%" class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                colspan="1">Room
                            </th>
                            <th style="width:20%" class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                colspan="1">Blocked
                            </th>
                            <th style="width:20%" class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                colspan="1">Edit
                            </th>

                        </thead>

                        <tbody>
                        {% for ip in others %}
                            <tr>
                                <td>{{ ip.address }}</td>
                                <td>
                                    {% if ip.blocked == true %}
                                        (Ip Blocked)
                                    {% else %}
                                        {{ ip.room }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ip.blocked == 1 %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-round btn-success"
                                            onclick="location.href='./addressEdit?id={{ ip.id }}'">Edit
                                    </button>
                                </td>


                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}