{# Data Needed: User Announcements Hours Rooms #}
{% extends 'shared/base.html.twig' %}
{% block body %}
    <h3>Home
        <small class="pull-right">{{ "now"|date('F j, Y') }}</small>
    </h3>
    {#{{ include('shared/component/flash_messages.html.twig') }}#}

    {# Announcements #}
    {{ include('shared/home/announcements.html.twig') }}

    {# Opperation Hours #}
    {{ include('shared/home/hours.html.twig') }}

    {# Locations #}
    {{ include('shared/home/locations.html.twig') }}

    {# Contact #}
    <h3>Contact Information</h3>
    <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd><a href="mailto:csmc@utdallas.edu" target="_top">csmc@utdallas.edu</a></dd>
    </dl>
{% endblock %}
