{% extends 'shared/base.html.twig' %}
{% block body %}
    {{ include('shared/component/flash_messages.html.twig') }}
    <h1>
        {{ section.course.department.abbreviation }} {{ section.course.number }}.{{ section.number }}
    </h1>
    <h2>
        Roster Upload
    </h2>
    {{ form_start(form, { 'attr': {'class': 'bt-flabels js-flabels'} }) }}
    <div class="form-group">
        <div class="control-label">
            {{ form_label(form.file) }}
        </div>
        {{ form_errors(form.file) }}
        <div class="bt-flabels__wrapper">
            {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
            <span class="bt-flabels__error-desc">Required</span>
        </div>
    </div>
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
    {{ form_end(form) }}
    <h2>Roster</h2>
    <table id="datatable" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>NetID</th>
        </tr>
        </thead>
        <tbody>
        {% for student in roster %}
            <tr>
                <td>{{ student.lastName }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.username }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            var table = $('#datatable').DataTable({
                paging: true,
                ordering: true,
                order: [[0, 'asc']],
                searching: true,
                buttons: [
                    {
                        extend: 'csv',
                        text: 'Download'
                    }
                ]
            });

            table.buttons().container().appendTo( $('#datatable_wrapper .col-sm-6:eq(0)') );
        });
    </script>
{% endblock %}