{% extends 'shared/base.html.twig' %}
{% block body %}
    <div class="content_head">
        <h2 class="content_title">Times for Week of {{ timesheet[0]['day']|date('m/d/Y') }}</h2> {# TODO: better title #}
        <div class="content_options">
            {% set prev = timesheet[0]['day'] %}
            {% set prev = prev|date_modify("-7 day") %}
            {% set next = timesheet[0]['day'] %}
            {% set next = next|date_modify("+7 day") %}
            <a href="{{ path('schedule_timesheet', {'date': prev|date('Y-m-d')}) }}">
                <div class="content_option button green_button">Previous</div>
            </a>
            <a href="{{ path('schedule_timesheet', {'date': next|date('Y-m-d')}) }}">
                <div class="content_option button green_button">Next</div>
            </a>
        </div>
    </div>
    {#<div class="message">#}{# TODO: add message about times #}{#</div>#}
    {% for day in timesheet %}
        <div class="content_head">
            <h3 class="content_title">{{ day['day']|date('l, m/d/Y') }}</h3>
        </div>
        <table class="content_table">
            <tr class="content_table_head">
                <td class="content_table_cell">Time In</td>
                <td class="content_table_cell">Time Out</td>
            </tr>
            {% for time in day['times'] %}
                <tr class="content_table_data">
                    <td class="content_table_cell">{{ time.timeIn is not null ? time.timeIn|date('g:i A') }}</td>
                    <td class="content_table_cell">{{ time.timeOut is not null ? time.timeOut|date('g:i A') }}</td>
                </tr>
            {% else %}
                <tr class="content_table_data">
                    <td class="content_table_cell" colspan="2">You have no times</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}