{# For use with instructors/students #}
{% extends 'shared/base.html.twig' %}
{% block body %}
    {{ include('shared/component/flash_messages.html.twig') }}
    {% for course in courses %}
        <h3>
            {{ course['section'].course.department.abbreviation }} {{ course['section'].course.number }}
            : {{ course['section'].course.name }}
        </h3>
        <h2 class="content_title">Quizzes</h2>
        <table id="quizzes-{{ course['section'].id }}" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Topic</th>
                <th>Dates</th>
                <th>Room</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for quiz in course['quizzes'] %}
                <tr>
                    <td>{{ quiz.topic }}</td>
                    <td>{{ quiz.startDate|date('m/d/y') }}
                        - {{ quiz.endDate|date('m/d/y') }}</td>
                    <td>{{ quiz.room }}</td>
                    <td>{{ quiz.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Sessions</h2>
        <table id="sessions-{{ course['section'].id }}" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Topic</th>
                <th>Description</th>
                <th>Register</th>
            </tr>
            </thead>
            <tbody>
            {% for session in course['sessions'] %}
                <tr>
                    <td>{{ session.topic }}</td>
                    <td>{{ session.description }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('session_register_timeslot', {'sid': session.id}) }}">
                            Register
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    {% else %}
        <div class="alert alert-danger">You are not currently enrolled in any courses. If you believe this is an
            error please contact your instructor(s).
        </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            {% for course in courses %}
            $('#quizzes-{{ course['section'].id }}').DataTable({
                paging: false,
                ordering: true,
                order: [[0, 'asc']],
                searching: true
            });

            $('#sessions-{{ course['section'].id }}').DataTable({
                paging: false,
                ordering: true,
                order: [[0, 'asc']],
                searching: true
            });
            {% endfor %}
        });
    </script>
{% endblock %}