{% extends 'role/admin/base.html.twig' %}
{% block body %}
    {{ form_start(session_form, { 'attr': {'class': 'bt-flabels js-flabels'} }) }}
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.session.topic) }}
        </div>
        {{ form_errors(session_form.session.topic) }}
        <div class="bt-flabels__wrapper">
            {{ form_widget(session_form.session.topic, {'attr': {'class': 'form-control'}}) }}
            <span class="bt-flabels__error-desc">Required</span>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.session.type) }}
        </div>
        {{ form_errors(session_form.session.type) }}
        <div class="bt-flabels__wrapper">
            {{ form_widget(session_form.session.type, {'attr': {'class': 'form-control'}}) }}
            <span class="bt-flabels__error-desc">Required</span>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.session.description) }}
        </div>
        {{ form_errors(session_form.session.description) }}
        <div class="bt-flabels__wrapper">
            {{ form_widget(session_form.session.description, {'attr': {'class': 'form-control'}}) }}
            <span class="bt-flabels__error-desc">Required</span>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.session.studentInstructions) }}
        </div>
        {{ form_errors(session_form.session.studentInstructions) }}
        {{ form_widget(session_form.session.studentInstructions, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.session.mentorInstructions) }}
        </div>
        {{ form_errors(session_form.session.mentorInstructions) }}
        {{ form_widget(session_form.session.mentorInstructions, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.session.sections) }}
        </div>
        {{ form_errors(session_form.session.sections) }}
        <div class="bt-flabels__wrapper">
            {{ form_widget(session_form.session.sections, {'attr': {'class': 'form-control'}}) }}
            <span class="bt-flabels__error-desc">Required</span>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.session.graded) }}
        </div>
        {{ form_errors(session_form.session.graded) }}
        {{ form_widget(session_form.session.graded) }}
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.session.numericGrade) }}
        </div>
        {{ form_errors(session_form.session.numericGrade) }}
        {{ form_widget(session_form.session.numericGrade) }}
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.session.files) }}
        </div>
        {{ form_errors(session_form.session.files) }}
        {{ form_widget(session_form.session.files) }}
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.session.uploadedFiles) }}
        </div>
        {{ form_errors(session_form.session.uploadedFiles) }}
        {{ form_widget(session_form.session.uploadedFiles) }}
        <div>
            {% for r in session_form.session.uploadedFiles %}
                <div class="checkbox">
                    <label>
                        {{ form_widget(r, {'attr': {'checked': 'checked'}}) }}
                        {{ r.vars.label }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.session.color) }}
        </div>
        {{ form_errors(session_form.session.color) }}
        {{ form_widget(session_form.session.color, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.repeats) }}
        </div>
        {{ form_errors(session_form.repeats) }}
        <div class="bt-flabels__wrapper">
            {{ form_widget(session_form.repeats, {'attr': {'class': 'form-control'}}) }}
            <span class="bt-flabels__error-desc">Required</span>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.defaultLocation) }}
        </div>
        {{ form_errors(session_form.defaultLocation) }}
        {{ form_widget(session_form.defaultLocation, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.defaultCapacity) }}
        </div>
        {{ form_errors(session_form.defaultCapacity) }}
        {{ form_widget(session_form.defaultCapacity, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(session_form.defaultDuration) }}
        </div>
        {{ form_errors(session_form.defaultDuration) }}
        {{ form_widget(session_form.defaultDuration) }}
    </div>
    {{ form_rest(session_form) }}
    {{ form_end(session_form) }}

    {{ form_start(quiz_form, { 'attr': {'class': 'bt-flabels js-flabels'} }) }}
    <div class="form-group">
        <div class="control-label">
            {{ form_label(quiz_form.session.topic) }}
        </div>
        {{ form_errors(quiz_form.session.topic) }}
        <div class="bt-flabels__wrapper">
            {{ form_widget(quiz_form.session.topic, {'attr': {'class': 'form-control'}}) }}
            <span class="bt-flabels__error-desc">Required</span>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(quiz_form.session.type) }}
        </div>
        {{ form_errors(quiz_form.session.type) }}
        <div class="bt-flabels__wrapper">
            {{ form_widget(quiz_form.session.type, {'attr': {'class': 'form-control'}}) }}
            <span class="bt-flabels__error-desc">Required</span>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(quiz_form.session.description) }}
        </div>
        {{ form_errors(quiz_form.session.description) }}
        <div class="bt-flabels__wrapper">
            {{ form_widget(quiz_form.session.description, {'attr': {'class': 'form-control'}}) }}
            <span class="bt-flabels__error-desc">Required</span>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(quiz_form.session.studentInstructions) }}
        </div>
        {{ form_errors(quiz_form.session.studentInstructions) }}
        {{ form_widget(quiz_form.session.studentInstructions, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(quiz_form.session.mentorInstructions) }}
        </div>
        {{ form_errors(quiz_form.session.mentorInstructions) }}
        {{ form_widget(quiz_form.session.mentorInstructions, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(quiz_form.session.sections) }}
        </div>
        {{ form_errors(quiz_form.session.sections) }}
        <div class="bt-flabels__wrapper">
            {{ form_widget(quiz_form.session.sections, {'attr': {'class': 'form-control'}}) }}
            <span class="bt-flabels__error-desc">Required</span>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(quiz_form.session.graded) }}
        </div>
        {{ form_errors(quiz_form.session.graded) }}
        {{ form_widget(quiz_form.session.graded) }}
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(quiz_form.session.numericGrade) }}
        </div>
        {{ form_errors(quiz_form.session.numericGrade) }}
        {{ form_widget(quiz_form.session.numericGrade) }}
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(quiz_form.session.files) }}
        </div>
        {{ form_errors(quiz_form.session.files) }}
        {{ form_widget(quiz_form.session.files) }}
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(quiz_form.session.uploadedFiles) }}
        </div>
        {{ form_errors(quiz_form.session.uploadedFiles) }}
        {{ form_widget(quiz_form.session.uploadedFiles) }}
        <div>
            {% for r in quiz_form.session.uploadedFiles %}
                <div class="checkbox">
                    <label>
                        {{ form_widget(r, {'attr': {'checked': 'checked'}}) }}
                        {{ r.vars.label }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(quiz_form.session.color) }}
        </div>
        {{ form_errors(quiz_form.session.color) }}
        {{ form_widget(quiz_form.session.color) }}
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(quiz_form.room) }}
        </div>
        {{ form_errors(quiz_form.room) }}
        <div class="bt-flabels__wrapper">
            {{ form_widget(quiz_form.room, {'attr': {'class': 'form-control'}}) }}
            <span class="bt-flabels__error-desc">Required</span>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(quiz_form.startDate) }}
        </div>
        {{ form_errors(quiz_form.startDate) }}
        <div class="bt-flabels__wrapper">
            {{ form_widget(quiz_form.startDate, {'attr': {'class': 'form-control'}}) }}
            <span class="bt-flabels__error-desc">Required</span>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">
            {{ form_label(quiz_form.endDate) }}
        </div>
        {{ form_errors(quiz_form.endDate) }}
        <div class="bt-flabels__wrapper">
            {{ form_widget(quiz_form.endDate, {'attr': {'class': 'form-control'}}) }}
            <span class="bt-flabels__error-desc">Required</span>
        </div>
    </div>
    {{ form_rest(quiz_form) }}
    {{ form_end(quiz_form) }}
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" href="{{ path('admin_session_requests') }}">Close</a>
        <button id="session-submit" type="button" class="btn btn-success" data-active="scheduled_session">
            Submit
        </button>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {

            var text = $('#scheduled_session_session_type option:selected').text();
            if (text == 'quiz') {
                $('#session-submit').data('active', 'quiz');

                $('[name="scheduled_session"]').hide();
                $('[name="quiz"]').show();
            } else {
                $('#session-submit').data('active', 'scheduled_session');

                $('[name="quiz"]').hide();
                $('[name="scheduled_session"]').show();
            }

            $('#scheduled_session_session_type').on('change', function () {
                var text = $('option:selected', $(this)).text();
                if (text == 'quiz') {
                    $('#session-submit').data('active', 'quiz');

                    $('[name="scheduled_session"]').hide();
                    $('[name="quiz"]').show();

                    sync_data('#scheduled_session', '#quiz');
                }
            });

            $('#quiz_session_type').on('change', function () {
                var text = $('option:selected', $(this)).text();
                if (text == 'review' || text == 'rework') {
                    $('#session-submit').data('active', 'scheduled_session');

                    $('[name="quiz"]').hide();
                    $('[name="scheduled_session"]').show();

                    sync_data('#quiz', '#scheduled_session');
                }
            });

            var sync_data = function (one, two) {
                var topic = $(one + '_session_topic').val();
                $(two + '_session_topic').val(topic);

                var type = $(one + '_session_type').val();
                $(two + '_session_type').val(type);

                var description = $(one + '_session_description').val();
                $(two + '_session_description').val(description);

                var sInstr = $(one + '_session_studentInstructions').val();
                $(two + '_session_studentInstructions').val(sInstr);

                var mInstr = $(one + '_session_mentorInstructions').val();
                $(two + '_session_mentorInstructions').val(mInstr);

                // sections
                var sections = [];
                $.each($(one + '_session_sections option:selected'), function () {
                    sections.push($(this).val());
                });
                $(two + '_session_sections').val(sections);
                $(two + '_session_sections').trigger('change');

                var graded = $(one + '_session_graded').is(':checked');
                $(two + '_session_graded').prop('checked', graded);

                var numeric = $(one + '_session_numericGrade').is(':checked');
                $(two + '_session_numericGrade').prop('checked', numeric);

                // files

                var color = $(one + '_session_color').val();
                $(two + '_session_color').val(color);
            };

            $('#session-submit').on('click', function () {
                $('[name="' + $(this).data('active') + '"]').submit();
            });
        });
    </script>
{% endblock %}
