<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}">

    <title>Welcome!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/global.css') }}"/>
    <style>
        /*.panel {*/
        /*margin-bottom: 0;*/
        /*}*/
        /*.table {*/
        /*margin-bottom: 0;*/
        /*}*/
        /*.pagination {*/
        /*margin: 10px 0 0 10px;*/
        /*}*/
    </style>
</head>
<body style="background: #FFFFFF url({{ asset('build/images/swipe-background.png') }}) no-repeat right top;">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1>{{ session.name }}</h1>
                                <h1>
                                    <small>
                                        Mentors: {% for mentor in session.mentors %} {{- mentor.preferredName -}} {% if not loop.last %} {{- ', ' -}} {% endif %} {% endfor %}</small>
                                </h1>
                            </div>
                        </div>
                        <div style="height: 15vh"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2>Welcome! Sign In Here</h2>
                            </div>
                            <div class="panel-body">
                                {{ form_start(swipe_form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                                {{ form_errors(swipe_form) }}
                                <div id="success" class="alert alert-success" style="display: none;"></div>
                                {% if not session.started %}
                                    <div id="warning" class="alert alert-warning">The mentor needs to start the
                                        session!
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    {#<div class="control-label">#}
                                    {#{{ form_label(form.scancode) }}#}
                                    {#</div>#}
                                    {{ form_errors(swipe_form.scancode) }}
                                    <div>
                                        <div id="loader" class="text-center" style="display: none;">
                                            <img src="{{ asset('build/images/ajax-loader.gif') }}">
                                        </div>

                                        {{ form_widget(swipe_form.scancode, {'attr': {'class': 'form-control', 'placeholder': 'Please swipe your Comet Card'}}) }}

                                        <div id="no-card-link" class="text-right">
                                            <a id="no-card" class="text-right" data-toggle="modal"
                                               data-target="#no-card-modal">I don't have my Comet Card</a>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(swipe_form) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default" style="min-height: 95vh; max-height: 98vh">
                    <div class="panel-heading">
                        Session Roster
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Time In
                            </th>
                            <th>
                                Signed In?
                            </th>
                            <th>
                                Time Out
                            </th>
                            <th>
                                Signed Out?
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set page_length = 20 %}
                        {% set count = session.registeredStudents|length %}
                        {% set empty_seats = session.capacity - count %}
                        {% set max = (session.capacity is divisible by(20)) ? (session.capacity) : ((session.capacity - (session.capacity % page_length)) + page_length) %}
                        {% for student in session.registeredStudents %}
                            <tr class="active" id="{{ student.id }}">
                                <td>{{ loop.index }}</td>
                                <td>{{ student.firstName }} ({{- student.username -}})</td>

                                {% set a = null %}
                                {% for attendance in session.attendances %}
                                    {% if attendance.user.id == student.id %}
                                        {% set a = attendance %}
                                    {% endif %}
                                {% endfor %}
                                {% if a is not null %}
                                    {% if a.timeIn is not null %}
                                        <td>{{ a.timeIn|date('g:i A') }}</td>
                                        <td><span class="glyphicon glyphicon-ok" style="color: green;"></span></td>
                                    {% else %}
                                        <td></td>
                                        <td><span class="glyphicon glyphicon-remove" style="color: red;"></span></td>
                                    {% endif %}

                                    {% if a.timeOut is not null %}
                                        <td>{{ a.timeOut|date('g:i A') }}</td>
                                        <td><span class="glyphicon glyphicon-ok" style="color: green;"></span></td>
                                    {% else %}
                                        <td></td>
                                        <td><span class="glyphicon glyphicon-remove" style="color: red;"></span></td>
                                    {% endif %}
                                {% else %}
                                    <td></td>
                                    <td><span class="glyphicon glyphicon-remove" style="color: red;"></span></td>
                                    <td></td>
                                    <td><span class="glyphicon glyphicon-remove" style="color: red;"></span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {# TODO add students who have attended but not registered on page load #}
                        {% for attendance in session.attendances %}
                            {% set found = false %}
                            {% for student in session.registeredStudents %}
                                {% if student.id == attendance.user.id %}
                                    {% set found = true %}
                                {% endif %}
                            {% endfor %}

                            {% if not found %}
                                <tr id="{{ attendance.user.id }}">
                                    {% set count = count + 1 %}
                                    <td>{{ count }}</td>
                                    <td>{{ attendance.user.firstName }} ({{- attendance.user.username -}})</td>
                                    {% if attendance.timeIn is not null %}
                                        <td>{{ attendance.timeIn|date('g:i A') }}</td>
                                        <td><span class="glyphicon glyphicon-ok" style="color: green;"></span></td>
                                    {% else %}
                                        <td></td>
                                        <td><span class="glyphicon glyphicon-remove" style="color: red;"></span></td>
                                    {% endif %}

                                    {% if attendance.timeOut is not null %}
                                        <td>{{ attendance.timeOut|date('g:i A') }}</td>
                                        <td><span class="glyphicon glyphicon-ok" style="color: green;"></span></td>
                                    {% else %}
                                        <td></td>
                                        <td><span class="glyphicon glyphicon-remove" style="color: red;"></span></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for i in range(count + 1, max) %}
                            <tr class="active" id="temp-{{ i }}">
                                <td>{{ i }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="register-modal" tabindex="-1" role="dialog"
             aria-labelledby="register-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="register-modal-label">No Comet Card Sign In</h4>
                    </div>
                    <div class="modal-body">
                        <div id="register-error" class="alert alert-danger" style="display: none;"></div>
                        <div id="register-warning" class="alert alert-warning">
                            <strong>Card not registered!</strong>
                            Please enter your NetID and password to register this card.
                        </div>
                        <div id="register-loader" class="text-center" style="display: none;">
                            <img src="{{ asset('build/images/ajax-loader.gif') }}">
                        </div>
                        {{ form_start(register_form, { 'attr': {'class': 'bt-flabels js-flabels'} }) }}
                        <div class="form-group">
                            <div class="control-label">
                                {{ form_label(register_form.username) }}
                            </div>
                            {{ form_errors(register_form.username) }}
                            <div class="bt-flabels__wrapper">
                                {{ form_widget(register_form.username, {'attr': {'class': 'form-control'}}) }}
                                <span class="bt-flabels__error-desc">Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">
                                {{ form_label(register_form.password) }}
                            </div>
                            {{ form_errors(register_form.password) }}
                            <div class="bt-flabels__wrapper">
                                {{ form_widget(register_form.password, {'attr': {'class': 'form-control'}}) }}
                                <span class="bt-flabels__error-desc">Required</span>
                            </div>
                        </div>
                        {{ form_end(register_form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="register-submit" type="button" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="no-card-modal" tabindex="-1" role="dialog"
             aria-labelledby="no-card-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="no-card-modal-label">Register Comet Card</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Having your Comet Card is a requirement to attend sessions hosted by the CSMC.
                            However, we will allow you <b style="color: red;">one</b> sign in without your card per
                            semester.
                            If you choose to sign in with your Comet Card for this session, you will not be able to
                            sign in without your Comet Card again this semester.
                            <b>Your professor will also be notified that you did not have your Comet Card.</b>
                        </p>
                        <div id="no-card-error" class="alert alert-danger" style="display: none;"></div>
                        <div id="no-card-loader" class="text-center" style="display: none;">
                            <img src="{{ asset('build/images/ajax-loader.gif') }}">
                        </div>
                        {{ form_start(no_card_form, { 'attr': {'class': 'bt-flabels js-flabels'} }) }}
                        <div class="form-group">
                            <div class="control-label">
                                {{ form_label(no_card_form.reason) }}
                            </div>
                            {{ form_errors(no_card_form.reason) }}
                            <div class="bt-flabels__wrapper">
                                {{ form_widget(no_card_form.reason, {'attr': {'class': 'form-control'}}) }}
                                <span class="bt-flabels__error-desc">Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">
                                {{ form_label(no_card_form.username) }}
                            </div>
                            {{ form_errors(no_card_form.username) }}
                            <div class="bt-flabels__wrapper">
                                {{ form_widget(no_card_form.username, {'attr': {'class': 'form-control'}}) }}
                                <span class="bt-flabels__error-desc">Required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">
                                {{ form_label(no_card_form.password) }}
                            </div>
                            {{ form_errors(no_card_form.password) }}
                            <div class="bt-flabels__wrapper">
                                {{ form_widget(no_card_form.password, {'attr': {'class': 'form-control'}}) }}
                                <span class="bt-flabels__error-desc">Required</span>
                            </div>
                        </div>
                        {{ form_end(no_card_form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="no-card-submit" type="button" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="error-modal" tabindex="-1" role="dialog"
             aria-labelledby="error-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="error-modal-label">Error</h4>
                    </div>
                    <div class="modal-body">
                        <div id="error-message" class="alert alert-danger" role="alert">

                        </div>
                    </div>
                    <div class="modal-footer">
                        {#<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>#}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Acknowledge</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.16/features/pageResize/dataTables.pageResize.min.js"></script>
    <script>
        $(function () {
            var table = $('.table').DataTable({
                ordering: false,
                info: false,
                searching: false,
                lengthChange: false,
                pageLength: {{ page_length }}
                // pageResize: true
            });

            // $('.dataTables_length').css('display', 'none');
            var registered_students = {{ count }};
            var next = registered_students + 1;

            var check_out_student = function (id, time_out) {
                var row = $('#' + id);

                row.children('td:nth-child(5)').html(time_out);
                row.children('td:nth-child(6)').html('<span class="glyphicon glyphicon-ok" style="color: green;"></span>');

                var page = Math.floor(row.children('td:first-child').text() / {{ page_length }});
                table.page(page).draw(false);
            };

            var check_in_student = function (id, name, time_in) {
                var row = $('#' + id);
                var page = 0;
                if (row.length) {
                    row.removeClass('active');
                    page = Math.floor(row.children('td:first-child').text() / {{ page_length }});
                } else {
                    row = $('#temp-' + next);
                    row.prop('id', id);
                    row.removeClass('active');
                    row.children('td:nth-child(2)').html(name);
                    row.children('td:nth-child(6)').html('<span class="glyphicon glyphicon-remove" style="color: red;"></span>');

                    page = Math.floor(next / {{ page_length }});

                    next++;
                }

                row.children('td:nth-child(3)').html(time_in);
                row.children('td:nth-child(4)').html('<span class="glyphicon glyphicon-ok" style="color: green;"></span>');

                table.page(page).draw(false);
            };

            var success = $('#success');
            var no_card_error = $('#no-card-error');
            var register_warning = $('#register-warning');
            var register_error = $('#register-error');

            var loader = $('#loader');
            // TODO consider putting a different loader for these 2 in footer of modal
            var no_card_loader = $('#no-card-loader');
            var register_loader = $('#register-loader');

            var input = $('#swipe_scancode');
            input.prop('autofocus', true);
            input.get(0).focus();

            var no_card_link = $('#no-card-link');

            var swipe_form = $('[name="swipe"]');
            var no_card_form = $('[name="no_card"]');
            var register_form = $('[name="card_register"]');

            swipe_form.on('submit', function (e) {
                e.preventDefault();

                var swipe = input.val();

                register_form.children('#card_register_swipe').val(swipe);

                $.ajax({
                    url: swipe_form.prop('action'),
                    data: {
                        'scancode': swipe,
                        'session': $('#swipe_session').val()
                    },
                    type: 'POST',
                    beforeSend: function () {
                        input.hide();
                        no_card_link.hide();
                        loader.show();
                    }
                }).always(function () {
                    loader.hide();
                    input.show();
                    no_card_link.show();
                }).done(function (data, textStatus, jqXHR) {
                    success.show();
                    success.delay(9000).hide("fade", {}, 1000, null);

                    {# TODO need to handle session start and end #}
                    {# TODO #}
                    switch (jqXHR.responseJSON.message) {
                        case 'session_start':
                            $('#warning').hide();
                            success.html('<strong>Success!</strong> Session started!');
                            break;
                        case 'session_end':
                            // idk what to do here
                            success.html('<strong>Session ended!</strong>');
                            break;
                        case 'attendee_in':
                            success.html('<strong>Success!</strong> Welcome ' + jqXHR.responseJSON.user_name + '!');
                            check_in_student(jqXHR.responseJSON.user_id, jqXHR.responseJSON.user_name, jqXHR.responseJSON.time_in);
                            break;
                        case 'attendee_out':
                            success.html('<strong>Success!</strong> Goodbye ' + jqXHR.responseJSON.user_name + '!');
                            check_out_student(jqXHR.responseJSON.user_id, jqXHR.responseJSON.time_out);
                            break;
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    switch (jqXHR.responseJSON) {
                        case 'malformed_scan':
                            // rescan card again
                            $('#error-modal').modal('show');
                            $('#error-message').html('<strong>Scan failed!</strong> Please scan your card again.');
                            break;
                        case 'unregistered_user':
                            // register card
                            $('#register-modal').modal('show');
                            break;
                        case 'no_user':
                        {# TODO figure out how to handle #}
                            break;
                        case 'ineligible':
                            $('#error-modal').modal('show');
                            $('#error-message').html('<strong>Not eligible for session!</strong> You are not on the roster for any of the sections listed for this session.');
                            break;
                        case 'invalid':
                            // shouldn't happen
                            $('#error-modal').modal('show');
                            $('#error-message').html('<strong>Something went wrong!</strong> Please try again.');
                            break;
                        case 'session_needs_starting':
                            $('#error-modal-label').modal('show');
                            $('#error-message').html('<strong>Session not started!</strong> Mentor needs to swipe first.');
                        default:
                            $('#error-modal').modal('show');
                            $('#error-message').html('<strong>Something went wrong!</strong> Please try again. If this message continues please let the mentor know!');
                    }
                });

                this.reset();
            });

            no_card_form.on('submit', function (e) {
                e.preventDefault();

                var username = $('#no_card_username').val();
                var password = $('#no_card_password').val();
                var session = $('#no_card_session').val();
                $.ajax({
                    url: no_card_form.prop('action'),
                    data: {
                        'username': username,
                        'password': password,
                        'session': session,
                    },
                    type: 'POST',
                    beforeSend: function () {
                        no_card_form.hide();
                        no_card_loader.show();
                    }
                }).always(function () {
                    no_card_loader.hide();
                    no_card_form.show();
                }).done(function (data, textStatus, jqXHR) {
                    $('#no-card-modal').modal('hide');
                    success.show();
                    success.delay(9000).hide("fade", {}, 1000, null);

                    {# TODO combine with normal swipe success #}
                    switch (jqXHR.responseJSON) {
                        case 'attendee_in':
                            success.html('<strong>Success!</strong> Welcome ' + jqXHR.responseJSON.user_name + '!');
                            check_in_student(jqXHR.responseJSON.user_id, jqXHR.responseJSON.user_name, jqXHR.responseJSON.time_in);
                            break;
                            {# TODO figure out how to handle 'swipe out' for netid sign ins #}
                            {#case 'attendee_out':#}
                            {#success.html('<strong>Success!</strong> Goodbye {{ 'person' }}!');#}
                            {#break;#}
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    switch (jqXHR.responseJSON) {
                        case 'no_user':
                        {# TODO figure out how to handle #}
                            break;
                        case 'bad_credentials':
                            // shouldn't happen
                            no_card_error.show();
                            no_card_error.html('<strong>Invalid Credentials!</strong> Please try again.');
                            break;
                        default:
                            no_card_error.show();
                            no_card_error.html('<strong>We don\'t really know what went wrong!</strong> Please try again, but if this message continues please let the mentor know!');
                    }
                });
            });

            $('#no-card-submit').on('click', function () {
                no_card_form.submit();
            });

            register_form.on('submit', function (e) {
                e.preventDefault();

                var username = $('#card_register_username').val();
                var password = $('#card_register_password').val();
                var session = $('#card_register_session').val();
                var swipe = $('#card_register_swipe').val();
                $.ajax({
                    url: register_form.prop('action'),
                    data: {
                        'username': username,
                        'password': password,
                        'session': session,
                        'swipe': swipe
                    },
                    type: 'POST',
                    beforeSend: function () {
                        register_form.hide();
                        register_loader.show();
                    }
                }).always(function () {
                    register_loader.hide();
                    register_form.show();
                }).done(function (data, textStatus, jqXHR) {
                    $('#register-modal').modal('hide');
                    success.show();
                    success.delay(9000).hide("fade", {}, 1000, null);

                    {# success implies card was registered #}
                    switch (jqXHR.responseJSON) {
                        case 'attendee_in':
                        {# TODO better message #}
                            success.html('<strong>Success!</strong> Your card has been registered and welcome ' + jqXHR.responseJSON.user_name + '!');
                            check_in_student(jqXHR.responseJSON.user_id, jqXHR.responseJSON.user_name, jqXHR.responseJSON.time_in);
                            break;
                            {# other success messages should NOT occur, if they do something went really wrong #}
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    register_warning.hide();
                    register_error.show();

                    switch (jqXHR.responseJSON) {
                        case 'unregistered_user':
                        {# shouldn't happen #}
                            register_error.html('<strong>Card could not be registered!</strong> Please try again.');
                            break;
                        case 'no_user':
                        {# TODO figure out how to handle #}
                            break;
                        case 'ineligible':
                            // hide modal
                            // normal error
                            break;
                        case 'bad_credentials':
                            register_error.html('<strong>Invalid Credentials!</strong> Please try again.');
                            break;
                        case 'invalid':
                        {# shouldn't happen #}
                            register_error.html('<strong>Something went wrong!</strong> Please try again.');
                            break;
                        default:
                            register_error.html('<strong>Something went wrong!</strong> Please try again. If this message continues please let the mentor know!');
                    }
                });
            });

            $('#register-submit').on('click', function () {
                register_form.submit();
            });

            no_card_form.parsley({
                errorsMessagesDisabled: true,
            });

            register_form.parsley({
                errorsMessagesDisabled: true,
            });

            $('#no-card').on('click', function () {

            });

            $('#register-modal').on('hidden.bs.modal', function (e) {
                input.get(0).focus();
            });

            $('#no-card-modal').on('hidden.bs.modal', function (e) {
                input.get(0).focus();
            });

            $('#error-modal').on('hidden.bs.modal', function (e) {
                input.get(0).focus();
            });

            // floating labels
            var floatingLabel;

            floatingLabel = function (onload) {
                var $input;
                $input = $(this);
                if (onload) {
                    $.each($('.bt-flabels__wrapper input'), function (index, value) {
                        var $current_input;
                        $current_input = $(value);
                        if ($current_input.val()) {
                            $current_input.closest('.bt-flabels__wrapper').addClass('bt-flabel__float');
                        }
                    });
                }

                setTimeout((function () {
                    if ($input.val()) {
                        $input.closest('.bt-flabels__wrapper').addClass('bt-flabel__float');
                    } else {
                        $input.closest('.bt-flabels__wrapper').removeClass('bt-flabel__float');
                    }
                }), 1);
            };

            $('.bt-flabels__wrapper input').keydown(floatingLabel);
            $('.bt-flabels__wrapper input').change(floatingLabel);

            window.addEventListener('load', floatingLabel(true), false);
            var error = function () {
                $.each(this.fields, function (key, field) {
                    if (field.validationResult !== true) {
                        field.$element.closest('.bt-flabels__wrapper').addClass('bt-flabels__error');
                    }
                });
            };

            var validated = function () {
                if (this.validationResult === true) {
                    this.$element.closest('.bt-flabels__wrapper').removeClass('bt-flabels__error');
                } else {
                    this.$element.closest('.bt-flabels__wrapper').addClass('bt-flabels__error');
                }
            };

            no_card_form.parsley().on('form:error', error);
            no_card_form.parsley().on('field:validated', validated);

            register_form.parsley().on('form:error', error);
            register_form.parsley().on('field:validated', validated);
            // end floating labels
        });

        $(function() {
            
        });
    </script>
</body>
</html>